      <div class="comment-area">
        
        <% @book.book_comments.each do |book_comment| %>
        
        <%= attachment_image_tag(book_comment.user, :profile_image, :fill, 40, 40, fallback: "no-image-icon.jpg") %>
        <%= book_comment.comment %>
        <% if book_comment.user == current_user %>
          <%= link_to 'Destroy', book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></br>
        <% end %>
          
        <%= link_to user_path(book_comment.user) do %>
          <%= book_comment.user.name %></br>
        <% end %>
        
      <% end %>
      </div>
       
        
      <%= form_with(model:[@book, @book_comment]) do |f| %>
      <div class="form-group">
        <%= f.text_area :comment, class: 'form-control book_comment_comment' %>
        
      <%= f.submit "送信" %>
      <% end %>
      </div>